# Environment
.env
.env.local
.env.production

# Dependencies
node_modules

# Next.js
.next
out

# Prisma
prisma/migrations

# Debug
*.log

# Husky
.husky/_
# Sentry
.sentryclirc

# Local env files
.env*.local

# Coverage
coverage/

# Sentry Config File
.env.sentry-build-plugin
